@import url('./mobile.css');
@import url('./desktop.css');

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
}

.centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}